<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cards/carta.css' %}">
    <title>Presentacion</title>
</head>
<body>

    <div class="container">
       <div class="card">
        <figure>

        </figure>
        <div class="contenido">
            <h3>
                PRODUCCION
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolorum asperiores aspernatur voluptatibus sint assumenda, quae,
                 quos adipisci vel reprehenderit obcaecati neque. Tempore architecto similique consectetur possimus recusandae vero modi.
            </p>
            <a href="#">LEER MAS </a>

        </div>

       </div>


    </div>
    
</body>
</html>