.header {
    background-color: rgba(31, 227, 74, 0.54); /* Fondo semi-transparente */
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(80, 245, 44, 0.615);
    padding: 10px 20px;
    border-bottom: 2px solid #fff; /* Línea separadora */
    font-family: Arial, sans-serif;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #333; 
}

.search-input {
    padding: 8px;
    margin-right: 5px;
    border: none;
    border-radius: 20px; 
    font-size: 14px;
    width: 200px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.search-button {
    padding: 8px 12px;
    background-color: #00ff26cb;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #cc5500;
}

.carrito img {
    max-width: 40px; /* Ajusta el tamaño del icono de carrito */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000b4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(75, 221, 62, 0.566);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.ofertas-portada img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.departamentos {
    background-color: #f5f6f57a;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif; 
}

.departamentos h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', serif; 
}

.departamentos ul {
    list-style: none;
    padding: 0;
}

.departamentos li {
    display: inline-block;
    margin: 0 10px;
}

.departamentos a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #d4181800;
    border-radius: 50px; 
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    font-family: 'Arial', sans-serif; 
}

.departamentos a:hover {
    background-color: #22ff00;
    color: #fff;
}